body, html {
	width:100%;
	height:100%;
	padding: 0;
	margin: 0;
}

body {
	background: #333;
}

.wrapper {
	width: 100%;
	height: auto;
}

.content {
	position: relative;
	background:url(map3_4it.gif) top center no-repeat #fff;
	width: 560px;
	height: 720px;
	margin: 0 auto;
}

img{
	border: 1px solid #a4a4a4;
}

.tooltip {
	font-family: 'Open Sans', sans-serif;
	padding: 3px 0 0 3px;
	box-shadow: 1px 4px 5px rgba(0,0,0,0.59);
	background: #fffAF0;
	width: 203px;
	height: 175px;
	border-radius: 3px;
	border: 1px solid #dca; 
	top: 14px;
	left: 14px;
	position:absolute;
}

.bottom{
	top: -165px;
}

header{
	text-align: center;
}

.content .abs {
	height: 30px;
	width: 30px;
	position: absolute;
	background: rgba(200,0,0,.3);
	border-radius: 50px;
}

.content .abs:hover {
	background: rgba(200,0,0,.7);
}