body, html {
	width:100%;
	height:100%;

	padding: 0;
	margin: 0;
}

body {
	background: #333;
}

.wrapper {
	width: 100%;
	height: auto;
}

.content {
	position: relative;

	background:url(map3_4it.gif) top center no-repeat #fff;
	width: 560px;
	height: 720px;
	margin: 0 auto;


}


.tooltip {
	padding: 10px 20px;
	box-shadow: rgba(0,0,0,.4) 0px 0px 5px;
	 background: #fff;
	 width: 200px;
	 height: 90px;
}

.content .abs {
	height: 30px;
	width: 30px;

	position: absolute;

	background: rgba(200,0,0,.4);
	border-radius: 50px;
}

.content .abs:hover {
	background: rgba(200,0,0,1);
}